<div class= "comments">
    {{#each this}}
    <section class="comment">
     
        <div class="text list-group-item">
            {{comment_content}}
        </div>
           <div class="meta list-group-item">
            {{user.name}}
            on {{format_date date_created}}
        </div>
    </section>
    {{/each}}
</div>