<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heroku Demo</title>
    {{!-- <link rel="stylesheet" href="./styles/index.css" /> --}}
  </head>
  <body>
     <header class="flex-column justify-space-around">
    <nav class="display-flex justify-space-between align-center p-2">
      <ul>
      <li class="li-inline nav-item"><a href="#">Home</a></li>
      <li class="li-inline nav-item"><a href="#">Dashboard</a></li>
      <li class="li-inline nav-item"><a href="#">Login</a></li>
      <li class="li-inline nav-item"><a href="#" id="logout-link">Logout</a></li>
      </ul>
      <nav>      
    </header>
    <div class="center-heroku">
      <p>The Tech Blog</p>
    </div>
    {{{body}}}
      <footer class="flex-row justify-content-center">
      &copy; The Tech Blog
    </footer >
  </body>
</html>




