{{> dashboard-postinfo posts}}
{{#if logged_in}}
<form class="commentForm">
    <div>
        <textarea class="col-12 ml-5" id="commentBody" name="commentBody"></textarea>

    </div>

    <div>
        <button class=" btn btn-dark commentBtn ml-5 mb-5" style=" margin-top: 2px; width:150px;" type="submit">Comment</button>
    </div>

</form>
{{/if}}

{{> comments posts.comments }}

{{#if logged_in}}
<script src= "/js/comments.js"></script>
{{/if}}


